body{
    background-color: rgb(202, 202, 202);
}

.redtext{
    color: red;
}
.backgrey{
    background-color: rgb(238, 238, 238);
    padding-top: 2%;
    padding-bottom: 5%;
}

#header {
    background-color: rgb(34, 27, 75);
    padding-top: 1%;
    color: white;
    padding-bottom: 1%;
}

#footer {
    background-color: rgb(34, 27, 75);
    padding-top: 1%;
    color: rgb(216, 216, 216);
    padding-bottom: 1%;
}

.hoption {
    background-color: rgb(34, 27, 75);
    border: rgb(34, 27, 75);
    color: white;
}

.hoption:hover {
    background-color: rgb(59, 47, 126);
}

.padded{
    background-color: rgb(54, 48, 87);
    padding-top: 1%;
    padding-bottom: 10%;
}

.imputrow {
    padding: 0.5%;
    color: white;
}

.whiteText {
    color: white;
}

.al{
    background-color: rgb(54, 48, 87);
    border: none;
    text-decoration: underline white;
    color: white;
}